In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [12]:
df_train = pd.read_csv('//Users/simonholmes/molecular_properties/runModel/run2/data/df_train_2.csv')

In [13]:
df_train.drop(['Unnamed: 0'], axis=1, inplace=True)
df_train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,bond_lengths_std_x,atom_1.1,x_1.1,y_1.1,z_1.1,EN_y,rad_y,n_bonds_y,bond_lengths_mean_y,bond_lengths_std_y
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,...,0.0,C,-0.012698,1.085804,0.008001,2.55,0.77,4,1.091950,0.000003
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,...,0.0,H,1.011731,1.463751,0.000277,2.20,0.38,1,1.091952,0.000000
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,...,0.0,H,-0.540815,1.447527,-0.876644,2.20,0.38,1,1.091946,0.000000
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,...,0.0,H,-0.523814,1.437933,0.906397,2.20,0.38,1,1.091948,0.000000
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,...,0.0,C,-0.012698,1.085804,0.008001,2.55,0.77,4,1.091950,0.000003

In [14]:
df_train.shape

(4658147, 79)

In [15]:
df_train.fillna(0, inplace=True)

In [16]:
df_train.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,bond_lengths_std_x,atom_1.1,x_1.1,y_1.1,z_1.1,EN_y,rad_y,n_bonds_y,bond_lengths_mean_y,bond_lengths_std_y
0,0,dsgdb9nsd_000001,1,0,1JHC,84.8076,H,0.002150,-0.006031,0.001976,...,0.0,C,-0.012698,1.085804,0.008001,2.55,0.77,4,1.091950,0.000003
1,1,dsgdb9nsd_000001,1,2,2JHH,-11.2570,H,0.002150,-0.006031,0.001976,...,0.0,H,1.011731,1.463751,0.000277,2.20,0.38,1,1.091952,0.000000
2,2,dsgdb9nsd_000001,1,3,2JHH,-11.2548,H,0.002150,-0.006031,0.001976,...,0.0,H,-0.540815,1.447527,-0.876644,2.20,0.38,1,1.091946,0.000000
3,3,dsgdb9nsd_000001,1,4,2JHH,-11.2543,H,0.002150,-0.006031,0.001976,...,0.0,H,-0.523814,1.437933,0.906397,2.20,0.38,1,1.091948,0.000000
4,4,dsgdb9nsd_000001,2,0,1JHC,84.8074,H,1.011731,1.463751,0.000277,...,0.0,C,-0.012698,1.085804,0.008001,2.55,0.77,4,1.091950,0.000003

In [19]:
labels = df_train.type.unique()

dfs = {}
for label in labels:
    dfs[label] = df_train[df_train['type'] == label]

df1 = dfs["1JHC"]
df2 = dfs["2JHH"]
df3 = dfs["1JHN"]
df4 = dfs["2JHN"]
df5 = dfs["2JHC"]
df6 = dfs["3JHH"]
df7 = dfs["3JHC"]
df8 = dfs["3JHN"]

In [17]:
# df_train = df_train.groupby(['type'])

In [286]:
# df_train = df_train.get_group(['3JHC']) # 3JHC, 2JHC, 1JHC, 3JHH, 2JHH, 3JHN, 2JHN, 1JHN
df8.head()

,id,molecule_name,atom_index_0,atom_index_1,type,scalar_coupling_constant,atom_0,x_0,y_0,z_0,...,bond_lengths_std_x,atom_1.1,x_1.1,y_1.1,z_1.1,EN_y,rad_y,n_bonds_y,bond_lengths_mean_y,bond_lengths_std_y
73,73,dsgdb9nsd_000010,3,2,3JHN,0.880802,H,1.002029,1.860899,0.002454,...,0.0,N,0.017652,-1.144529,-0.004204,3.04,0.75,1,1.155009,0.000000
78,78,dsgdb9nsd_000010,4,2,3JHN,0.880957,H,-0.543988,1.844799,-0.870755,...,0.0,N,0.017652,-1.144529,-0.004204,3.04,0.75,1,1.155009,0.000000
82,82,dsgdb9nsd_000010,5,2,3JHN,0.880871,H,-0.527078,1.835182,0.904863,...,0.0,N,0.017652,-1.144529,-0.004204,3.04,0.75,1,1.155009,0.000000
213,213,dsgdb9nsd_000019,4,2,3JHN,-0.052074,H,0.913903,1.929238,-0.461001,...,0.0,N,1.178267,-0.633243,0.056917,3.04,0.75,3,1.127026,0.171355
218,218,dsgdb9nsd_000019,5,2,3JHN,1.611320,H,-0.870809,1.911242,-0.523452,...,0.0,N,1.178267,-0.633243,0.056917,3.04,0.75,3,1.127026,0.171355

In [287]:
id1 = pd.DataFrame(data = df8, columns=["id", "molecule_name"])
y1 = pd.DataFrame(data = df8, columns=["scalar_coupling_constant"])

In [288]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(df8.drop(['id', 'molecule_name', 'type', 'atom_0', 'atom_1', 'atom_0', 'atom_1', 'atom_0.1', 'atom_1.1','scalar_coupling_constant'], axis=1),y1,test_size = 0.2)

In [289]:
X_train1.shape

(133132, 71)

In [290]:
y_train1 = y_train1.to_numpy()
y_train1 = y_train1.ravel()
y_train1 = np.array(y_train1).astype(int)

y_test1 = y_test1.to_numpy()
y_test1 = y_test1.ravel()
y_test1 = np.array(y_test1).astype(int)

In [138]:
regressor = RandomForestRegressor(n_estimators=100,random_state=42, bootstrap=True, n_jobs=-1) # n_estimators: number of trees random_state=42
regressor.fit(X_train1, y_train1)
predictions = regressor.predict(X_test1)
errors = abs(predictions - y_test1)

In [27]:
import pickle

In [139]:
filename = 'regression_model_df8.sav'
pickle.dump(regressor, open(filename, 'wb'))

In [ ]:
# load the model from disk
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)
#print(result)

# Calculate the accuracy score and predict target valuesI
#score = pickle_model.score(Xtest, Ytest)
#print("Test score: {0:.2f} %".format(100 * score))
#Ypredict = pickle_model.predict(Xtest)

In [140]:
print(type(predictions))
print(len(predictions))
print(predictions[0:10])

<class 'numpy.ndarray'>
33283
[0.   0.82 1.2  1.41 1.95 3.72 0.06 3.96 0.   0.21]

In [141]:
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / y_test1)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 0.17 degrees.
Accuracy: nan %.

/Users/simonholmes/anaconda3/envs/venv/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in true_divide
  """
/Users/simonholmes/anaconda3/envs/venv/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

In [31]:
df_test = pd.read_csv('//Users/simonholmes/molecular_properties/runModel/run2/data/df_test_2.csv')

In [32]:
df_test.fillna(0, inplace=True)
id2 = pd.DataFrame(data = df_test, columns=["id", "molecule_name"])
#y2 = pd.DataFrame(data = df_test, columns=["scalar_coupling_constant"])

In [33]:
df_test.drop(['atom_1.1', 'x_1.1', 'y_1.1', 'z_1.1', 'EN',
       'rad', 'n_bonds', 'bond_lengths_mean', 'bond_lengths_std'], axis=1, inplace=True)

In [34]:
X_test = df_test.drop(['id', 'molecule_name', 'type', 'atom_0', 'atom_1', 'atom_0', 'atom_1', 'atom_x', 'atom_y'], axis=1)

In [142]:
# load the model from disk
#regressor = pickle.load(open(filename, 'rb'))

Ypredict = regressor.predict(X_test)

In [143]:
df_predict = pd.DataFrame(data=Ypredict.flatten())

In [144]:
df_submission = pd.concat([id2, df_predict], axis=1)

In [145]:
df_submission.columns = ['id', 'molecule_name', 'scalar_coupling_constant']
df_submission.head()

        id     molecule_name  scalar_coupling_constant
0  4658147  dsgdb9nsd_000004                      5.16
1  4658148  dsgdb9nsd_000004                      3.95
2  4658149  dsgdb9nsd_000004                     -0.71
3  4658150  dsgdb9nsd_000004                      3.94
4  4658151  dsgdb9nsd_000004                      3.38

In [146]:
df_submission.drop(['molecule_name'], axis=1, inplace=True)
df_submission.head()

        id  scalar_coupling_constant
0  4658147                      5.16
1  4658148                      3.95
2  4658149                     -0.71
3  4658150                      3.94
4  4658151                      3.38

In [147]:
df_submission.to_csv('//Users/simonholmes/molecular_properties/submission_regression_df8.csv', index=False)

In [162]:
from lightgbm import LGBMRegressor

/Users/simonholmes/anaconda3/envs/venv/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [163]:
LGB_PARAMS = {
    'objective': 'regression',
    'metric': 'mae',
    'verbosity': -1,
    'boosting_type': 'gbdt',
    'learning_rate': 0.2,
    'num_leaves': 128,
    'min_child_samples': 79,
    'max_depth': 9,
    'subsample_freq': 1,
    'subsample': 0.9,
    'bagging_seed': 11,
    'reg_alpha': 0.1,
    'reg_lambda': 0.3,
    'colsample_bytree': 1.0
}

In [164]:
model = LGBMRegressor(**LGB_PARAMS, n_estimators=1500, n_jobs = -1)

In [291]:
model.fit(X_train1, y_train1, 
        eval_set=[(X_train1, y_train1), (X_test1, y_test1)], eval_metric='mae',
        verbose=100, early_stopping_rounds=200)

Training until validation scores don't improve for 200 rounds.
[100]	training's l1: 0.190914	valid_1's l1: 0.224792
[200]	training's l1: 0.163179	valid_1's l1: 0.215749
[300]	training's l1: 0.144643	valid_1's l1: 0.212924
[400]	training's l1: 0.130114	valid_1's l1: 0.211406
[500]	training's l1: 0.117759	valid_1's l1: 0.20992
[600]	training's l1: 0.107028	valid_1's l1: 0.208699
[700]	training's l1: 0.0973897	valid_1's l1: 0.208131
[800]	training's l1: 0.0891997	valid_1's l1: 0.207506
[900]	training's l1: 0.0817699	valid_1's l1: 0.207232
[1000]	training's l1: 0.0749577	valid_1's l1: 0.206849
[1100]	training's l1: 0.0690899	valid_1's l1: 0.206544
[1200]	training's l1: 0.0636899	valid_1's l1: 0.20623
[1300]	training's l1: 0.0586354	valid_1's l1: 0.205931
[1400]	training's l1: 0.054221	valid_1's l1: 0.205682
[1500]	training's l1: 0.0500216	valid_1's l1: 0.205545
Did not meet early stopping. Best iteration is:
[1500]	training's l1: 0.0500216	valid_1's l1: 0.205545

LGBMRegressor(bagging_seed=11, boosting_type='gbdt', class_weight=None,
              colsample_bytree=1.0, importance_type='split', learning_rate=0.2,
              max_depth=9, metric='mae', min_child_samples=79,
              min_child_weight=0.001, min_split_gain=0.0, n_estimators=1500,
              n_jobs=-1, num_leaves=128, objective='regression',
              random_state=None, reg_alpha=0.1, reg_lambda=0.3, silent=True,
              subsample=0.9, subsample_for_bin=200000, subsample_freq=1,
              verbosity=-1)

In [12]:
import pickle

In [292]:
filename = 'LGBM_model_df8.sav'
pickle.dump(model, open(filename, 'wb'))

In [293]:
y_pred = model.predict(X_test)
# np.log(mean_absolute_error(y_val, y_pred))

In [294]:
y_pred.shape

(2505542,)

In [295]:
y_pred[0:10]

array([5.19935089, 1.24030089, 1.09303458, 3.90273468, 5.52906152,
       4.09921193, 0.92697285, 2.02636322, 2.39449783, 3.99529341])

In [296]:
df_predict2 = pd.DataFrame(data=y_pred.flatten())

In [297]:
df_predict2.head()

          0
0  5.199351
1  1.240301
2  1.093035
3  3.902735
4  5.529062

In [298]:
df_submission2 = pd.concat([id2, df_predict2], axis=1)

In [299]:
df_submission2.head()

        id     molecule_name         0
0  4658147  dsgdb9nsd_000004  5.199351
1  4658148  dsgdb9nsd_000004  1.240301
2  4658149  dsgdb9nsd_000004  1.093035
3  4658150  dsgdb9nsd_000004  3.902735
4  4658151  dsgdb9nsd_000004  5.529062

In [300]:
df_submission2.shape

(2505542, 3)

In [301]:
df_submission2.columns = ['id', 'molecule_name', 'scalar_coupling_constant']
df_submission2.head()

        id     molecule_name  scalar_coupling_constant
0  4658147  dsgdb9nsd_000004                  5.199351
1  4658148  dsgdb9nsd_000004                  1.240301
2  4658149  dsgdb9nsd_000004                  1.093035
3  4658150  dsgdb9nsd_000004                  3.902735
4  4658151  dsgdb9nsd_000004                  5.529062

In [302]:
df_submission2.drop(['molecule_name'], axis=1, inplace=True)
df_submission2.head()

        id  scalar_coupling_constant
0  4658147                  5.199351
1  4658148                  1.240301
2  4658149                  1.093035
3  4658150                  3.902735
4  4658151                  5.529062

In [303]:
df_submission2.to_csv('//Users/simonholmes/molecular_properties/submission_LGBM_df8.csv', index=False)

In [151]:
df = pd.read_csv('//Users/simonholmes/molecular_properties/submission_regression_final.csv')

In [152]:
df.head()

        id  scalar_coupling_constant     molecule_name
0  4658147                     16.73  dsgdb9nsd_000004
1  4658148                    188.76  dsgdb9nsd_000004
2  4658149                     10.59  dsgdb9nsd_000004
3  4658150                    188.70  dsgdb9nsd_000004
4  4658151                     16.76  dsgdb9nsd_000004

In [153]:
df.shape

(2505542, 3)

In [154]:
df.drop(['molecule_name'], axis=1, inplace=True)
df.head()

        id  scalar_coupling_constant
0  4658147                     16.73
1  4658148                    188.76
2  4658149                     10.59
3  4658150                    188.70
4  4658151                     16.76

In [155]:
df.to_csv('//Users/simonholmes/molecular_properties/submission_regression_final_2.csv', index=False)

In [304]:
df_LGBM = pd.read_csv('//Users/simonholmes/molecular_properties/submission_regression_LGBM.csv')
df_LGBM.head()

        id  scalar_coupling_constant     molecule_name
0  4658147                 20.851801  dsgdb9nsd_000004
1  4658148                165.541773  dsgdb9nsd_000004
2  4658149                 11.358808  dsgdb9nsd_000004
3  4658150                166.995301  dsgdb9nsd_000004
4  4658151                 17.261649  dsgdb9nsd_000004

In [305]:
df_LGBM.shape

(2505542, 3)

In [306]:
df_LGBM.drop(['molecule_name'], axis=1, inplace=True)
df_LGBM.head()

        id  scalar_coupling_constant
0  4658147                 20.851801
1  4658148                165.541773
2  4658149                 11.358808
3  4658150                166.995301
4  4658151                 17.261649

In [307]:
df_LGBM.to_csv('//Users/simonholmes/molecular_properties/submission_regression_final_LGBM.csv', index=False)